<footer class="footer fixed-bottom bg-primary">
    {% block footer %}
        <div class="row">
            <div class="col-4 text-left txt-footer">
                <a href="#" class="text-white">Contact</a><br>
            </div>
            <div class="col-4 text-right txt-footer">
                <a href="#" class="text-white">Mentions légales</a><br>
            </div>
        </div>
    {% endblock %}
</footer>