<h1>Activation de votre compte</h1>
<p>Vous avez crée un compte sur notre site maison des ligues, veuillez cliquer sur le lien ci-dessous pour l'activer</p>
<p><a href="{{ absolute_url(path('registration_activation', {'token': token})) }}">Activer mon compte</a></p>